.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noResult {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: grey;
}
