.section {
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 8px;
}

.header {
  all: unset;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.content {
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
  padding-left: 20px;
}

.addition {
  background: #e9ecef;
  font-size: 15px;
  border-left: 4px solid #ced4da;
  padding: 10px;
  color: #495057;
  line-height: 1.6;
  border-radius: 8px;
  margin-bottom: 10px;
}

.buttonArrow {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonArrow svg {
  height: 100%;
  width: 100%;
  color: #191970;
}
