.container {
  border-radius: 6px;
  border: 1px solid var(--color-table-syntax-breakdown-border);
}

.table {
  width: 100%;
  border-collapse: collapse;
  font: var(--font-table-syntax-breakdown-table);
}

.table th {
  text-align: left;
  padding: 8px;
  background: var(--color-table-syntax-breakdown-table-th-bg);
  color: var(--color-table-syntax-breakdown-table-th-text);
  font: var(--font-table-syntax-breakdown-table-th);
  border-bottom: 2px solid var(--color-table-syntax-breakdown-table-th-border);
}

.table td {
  padding: 6px;
  border-bottom: 1px solid var(--color-table-syntax-breakdown-table-td-border);
  color: var(--color-table-syntax-breakdown-table-td-text);
}

.table td:first-child {
  background: var(--color-table-syntax-breakdown-table-td-first-bg);
  color: var(--color-table-syntax-breakdown-table-td-first-text);
  white-space: nowrap;
}

.table tr:last-child td {
  border-bottom: none;
}

.table code {
  background: var(--color-table-syntax-breakdown-table-code-bg);
  padding: 2px 4px;
  border-radius: 4px;
  font: var(--font-table-syntax-breakdown-table-code);
  color: var(--color-table-syntax-breakdown-table-code-text);
}

@media (max-width: 768px) {
  .container {
    overflow-x: auto;
  }

  .table th,
  .table td {
    padding: 4px;
    white-space: nowrap;
  }
}
