.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container:has(.noResult) {
  height: 100%;
}

.noResult {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-js-content-page-no-result);
  color: var(--color-js-content-page-no-result-text);
}

.sentinel {
  height: 1px;
}
