.card {
  background: var(--color-utility-types-card-bg);
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--color-utility-types-card-border);
  display: flex;
  gap: 5px;
}

.cardInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}

.headerText {
  font: var(--font-utility-types-card-header-text);
  color: var(--color-utility-types-card-header-text);
}

.cardHeader {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.buttonArrow {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonArrow svg {
  height: 100%;
  width: 100%;
  color: var(--color-utility-types-card-button-arrow);
}

.description {
  font: var(--font-utility-types-card-description);
  color: var(--color-utility-types-card-description);
}

.signature {
  width: fit-content;
  background: var(--color-utility-types-card-signature-bg);
  padding: 8px;
  border-radius: 4px;
  font: var(--font-utility-types-card-signature);
  color: var(--color-utility-types-card-signature);
  border-left: 3px solid var(--color-utility-types-card-signature-border);
  box-shadow: var(--shadow-utility-types-card-signature);
  letter-spacing: 1px;
}
