.card {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e9ecef;
  display: flex;
  gap: 5px;
}

.cardInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}

.headerText {
  font-size: 24px;
  font-weight: 600;
  color: #2c3e50;
  margin: 0;
}

.cardHeader {
  all: unset;
  cursor: pointer;
  display: flex;
  gap: 10px;
  width: fit-content;
}

.buttonArrow {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonArrow svg {
  height: 100%;
  width: 100%;
  color: #1864ab;
}

.description {
  font-size: 17px;
  line-height: 22px;
  color: #495057;
}

.signature {
  width: fit-content;
  background: #f8f9fa;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 25px;
  color: #e8590c;
  border-left: 3px solid #4dabf7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}
